:host {
    display: flex;
    margin: 8px 0;
    height: 30px;
    align-items: center;
}
.wrapper {
    position: relative;
    transition: background-color .2s ease-in-out;
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin: 0 8px;
    display: flex;
}
input {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 12px;
    height: 12px;
    opacity: 0;
    margin: 0;
    z-index: 1;
    cursor: inherit;
}
input + div {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border: 1px solid rgb(128, 207, 203);
    border-radius: 50%;
    display: flex;
}
label {
    margin: auto;
    font-size: 0.75em;
    color: rgb(128, 207, 203);
}
.active {
    background-color: rgb(128, 207, 203);
    color: white;
}
.active label {
    color: white;
}