nav {
    position: relative;
    z-index: 1;
    height: var(--nav-height);
    background-color: var(--nav-bg-color);
}
main {
    min-height: calc(100vh - var(--nav-height));
    background-color: var(--main-bg-color);
}